*{
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
}

body{
	margin: 0px;
	padding: 0px;
	width: 100vw;
	position: relative;
}

.container{
	margin: 0 auto;
	max-width: 1300px;
}

.header{
	position: fixed;
	top: 0;
	left: 0;
	height: 100px;
	z-index: 11;
	width: 100%;
	/* background: #00ffff; */
}

.navbar{
	display: flex;
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px 45px;
	align-items: center;
	justify-content: space-between;
}

.icon{
	width: 230px;
	margin-left: 45px;
}
.logo{
	font-family:'sans-sherif';
	font-size: 35px;
	margin-left: 20px;
	color:#ff7200;
}
.menu{
	display: flex;
	align-items: center;
	margin-right: 40px;
	gap: 25px;
}
.menu ul{
	display: flex;
	align-items: center;
	align-content: center;
}
.menu ul .dropdown{
	list-style: none;
	margin-left: 20px;
	font-family: helvetica;
	text-transform: capitalize;
	cursor: pointer;
	position: relative;
	
}

.menu ul .dropdown > a{
	text-decoration: none;
	display: inline-block;
	text-align: center;
	color: rgb(255, 241, 241);
	padding: 15px 15px;
	font-weight: 120px;
	transition: 200ms;
}
.menu ul .dropdown a:hover{
	background-color: #ff5e00da;
	color: #121312;
}

div ul .dropdown{
	position: relative;
	display: inline-block;
}

div ul li .droplist{
	display: none;
	position: absolute;
	background: #dcd5d1;
	padding: 20px 10px;
	top: 45px;
	z-index: 1;
	text-align: left;
	border-bottom: #ff9500da 5px solid;
	border-top: #ff9500da 5px solid;
	border-bottom-right-radius: 40px ;
	border-bottom-left-radius: 40px;
}

div ul li .droplist2{
	left: -150px;
}

div ul li .droplist_1{
	display: none;
	position: absolute;
	background: #dcd5d1;
	padding: 20px 15px;
	z-index: 1;
	text-align: center;
	left: 0px;
	top: 45px;
	border-top: 4px #ff6a00e8 solid;
	border-bottom: 4px #ff6a00e8 solid;
	border-bottom-right-radius: 40px ;
	border-bottom-left-radius: 40px;

}

div ul li .droplist_2{
	display: none;
	position: absolute;
	background: #dcd5d1;
	left: 0px;
	padding: 10px 15px;
	z-index: 1;
	top: 45px;
	border-top: 4px #ff6a00e8 solid;
	border-bottom: 4px #ff6a00e8 solid;
	border-bottom-right-radius: 40px ;
	border-bottom-left-radius: 40px;
}

div ul li .droplist_2 ul,
.droplist_1 ul,
.droplist{
	list-style: none;
	width: 260px;
	text-align: left;
	display: block;
}

div ul li .droplist_2 ul li,
.droplist_1 ul li,
.droplist ul li{
	margin-bottom: 18px;
}
div ul li .droplist_2 ul li a, .droplist_1 ul li a{
	text-decoration: none;
	font-family: arial;
	color: #272626;
	font-weight: lighter;
	font-size: 16px;
	padding: 10px;
}
div ul li .droplist_2 ul li a:hover, .droplist_1 ul li a:hover{
	color: #00ffff;
}
.dropdown:hover .droplist_2, .dropdown:hover .droplist_1{
	display: inline-block;
}

div ul li .droplist li{
	list-style: none;

}

div ul li .droplist li a{
	text-decoration: none;
	color: #6c6666;
	display: block;
	font-family: arial;
	padding: 10px;
}

.dropdown:hover .droplist{
	display: block;
}

div ul li .droplist li a:hover{
	color: #ea8e59;
}


.aply{
	text-align: center;
	
}

div .btn {
	background: #ff7411;
	width: 90px;
	margin-top: 5px;
	height: 44px;
	border: 0px;
	float: left;
}

div .btn a{
	text-decoration: none;
	text-transform: capitalize;
	color: rgb(220, 208, 208);
	font-family: Arial;
	font-size: 17px;

}
/** first section**/

#join{
	background: linear-gradient(to top,rgba(0,0,0,0.6)50%,rgba(0,0,0,0.6)50%),
	  url(../pics/istock1.jpg);
	width: 100%;
	position: relative;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	color: #f3f3f3;
	padding: 160px 20px;
	
}

.joinContainer{
	position: relative;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: space-between;
}

.joinContent{
	width: 600px;
}

.joinContent h1{
	font-size: 55px;
	font-family: 'Times New Roman', Times, serif;
	margin-bottom: 30px;
}
.joinContent p{
	line-height: 28px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	line-height: 30px;

}
.form1{
	background: #f3f3f3;
	color: #000000;
	width: 470px;
	padding: 30px;
}
 .form1 h2{
	text-align: center;
	font-family:'Courier New';
	font-size: 25px;
	margin: 0px;
	word-spacing: 3px;
	margin-bottom: 20px;
}
form{
	margin-top: 9px;
}

.label_3{
	font-size: 16px;
	text-transform: capitalize;
}
.form_3{
	margin: 9px 0px 19px 0px;
	background: transparent;
	border: 1px solid #dcd5d1;
	
}
.form_2{
	margin: 20px;
}
.emal input{
	width: 400px;
	height:36px;
}
td input{
	background: transparent;
	width: 190px;
	height: 36px;
}
.form1 p{
	font-size: 16px;
	font-family: Arial, Helvetica, sans-serif;
	color: #463f3a;
	margin: 16px 0px;
}

select{
	width: 410px;
	height: 46px;
	background: transparent;
	border: #dcd5d1 1px solid;
	font-size: 16px;
	color: #474443;
}

button{
	width: 410px;
	height: 46px;
	background: #e77416;
	margin-top: 40px;
	border: none;
	color: #f3f3f3;
}

button a{
	font-family: Arial;
	font-size: 18px;
}
button:hover{
	background-color: #c6671a;
}

.section_3{
	padding: 90px 20px;
	background: #f1ebeb;
}

.sub_section{
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}

.sec_1{
	/* display: flex;
	flex-direction: column; */
}

.section_3 h1{
	font-family: monospace;
	font-size: 37px;
	margin-bottom: 15px;
	font-weight: 800;
}

.section_3 h3{
	margin: 30px 0px;
	font-size: 20px;
}
.section_3 p{
	font-family: Arial;
	line-height: 27px;
	font-weight: 100;
	color: #2d2b2b;
}

.techpics{
	position: relative;
	height: auto;
	max-width: 600px;
	height: 1000px;
	/* padding-left: 90px; */
}

.backImage{
	position: absolute;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	background: #00000076;
	width: 100%;
	z-index: 1;
}

img{
	width: 100%;
	height: 100%;
	object-fit: cover;
	background-position: center;
	background-size: cover;
}


.content_4{
	text-align: center;
	padding: 70px 30px;
}
.content_4 .container h1{
	font-family: sans-serif;
	margin-bottom: 35px;
	font-weight: lighter;
}

/** resources section **/

.resources{
	display: flex;
	flex-flow: row wrap;
	gap: 35px;
	justify-content: center;
	align-items: center;
}
.contnt_pics1{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: transparent;
	width: 570px;
	height: 360px;
	border: #dcd5d1 0.6px solid;
	box-shadow: 1px 1px 5px rgb(186, 183, 183);
}
.contnt_pics2{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: transparent;
	width: 570px;
	height: 360px;
	border: #dcd5d1 0.6px solid;
	box-shadow: 1px 1px 5px rgb(182, 183, 183);
}
.img_1{
	width: 170px;
	height: 170px;
	margin-top: 30px;
	/* margin-left: 200px; */
	margin-bottom: 20px;
}

.contnt_pics1 h3, .contnt_pics2 h3 {
	text-align: center;
	font-size: 21px;
	font-family: arial;
	font-weight: 120px;
	margin: 0px;
}
.btn_1{
	width: 180px;
	height: 45px;
    background: #F79020;;
	margin-top: 30px;
}
.btn_1 a{
	text-decoration: none;
	color: #f3f3f3;
	text-transform: capitalize;
	font-size: 15px;
}

.btn_2{
	width: 180px;
	margin-top: 30px;
	height: 45px;
    background: #F79020;
	transition: 0.6s;

}
.btn_2 a{
	text-decoration: none;
	color: #f3f3f3;
	text-transform: capitalize;
	font-size: 15px;
}
.btn_2:link{
	background: #00ffff;
}
.btn_2:visited .btn_1:visited{
	background: #3b3634;
}

.btn_2:hover .btn_1:hover{
	color: #b3692d;
}

.btn_2:focus, .btn_1:focus{
	background: rgb(95, 64, 22);
}

.footer{
	width: 100%;
	border-top: 10px #f57b1d solid;
	color: black;
	font-weight: 300px;
}

.footer .sub_footer{
	max-width: 1300px;
	margin: 0 auto;
	padding: 60px 10px;
	display: flex;
	flex-direction: column;
	justify-content: left;
	
}
.main_footer{
	display: flex;
	justify-content: space-between;
}

.sub_heading{
	text-transform: capitalize;
	font-weight: lighter;
	margin-bottom: 8px;
}

.sub_footer1{
	text-align: left;
}

.sub_footer1 ul{
	list-style: none;
}

.sub_footer1 ul li a{
	text-decoration: none;
	font-family: Roboto, sans-serif;
	color: #464440;
	line-height: 30px;
	font-size: smaller;
}

.sub_footer1 ul li a:hover,
.sub_link li a:hover{
	text-decoration: underline;
}
.main_footer2{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}
.sub_link{
	display: flex;
	height: 50px;
	margin: 0px;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;

}

.sub_link li{
	width: 80px;
	list-style: none;
	text-transform: uppercase;
}

.sub_link li a{
	text-decoration: none;
	color: #000000;
	font-weight: 500;
}

.main_link2{
	display: flex;
	flex-flow: row wrap;
	height: 50px;
}

.logo{
	display: flex;
	flex-direction: row;
    text-align: left;
}

.logo li{
	display: flex;
	list-style: none;
	width: 50px;
}

.end_footer{
	padding: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
}
